html, body {
  height: 100%;
  width: 100%;
  
}
header{
  background-image: url('/Images/banner.jpg');
  height: 200px;
  background-color:  #3D9970;
  background-size: 75% 100%;
  background-repeat: no-repeat;
  background-position: center;
}
body{


}
footer{
  display:flex;
  flex-direction:column;
  align-items: center;
  width: 100%;
  
}
.info{
  display:flex;
  flex-direction:row;
 justify-content: space-around;
    flex-wrap: nowrap;
    align-items: stretch;
}
.cont{
  font-style: underlined;
  
}